.header-container {
  background-color: #B7C4CF;
  display: flex;
  justify-content: space-around;
  font-size: 37px;
}
.header-container .navbar .container-fluid .navbar-brand .logo {
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  width: 150px;
  height: 95px;
}

.costado {
  display: flex;
  justify-content: space-between;
}

.footer-container {
  background-color: #D7C0AE;
}
.footer-container .footer-links {
  list-style: none;
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .footer-container .footer-links .redes {
    font-size: 10px;
  }
}
.footer-container .footer-links .medios {
  width: 50px;
  height: 50px;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

.texto-footer {
  font-size: 20px;
}

.container .row .col-lg-6 .red {
  width: 400px;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .container .row .col-lg-6 .red {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  .container .row .col-lg-6 .red {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}

.subtituloredes {
  margin-top: 20px;
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .subtituloredes {
    text-align: center;
  }
}

.subtitulofaqs {
  background-color: #EEE3CB;
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 40px;
  font-family: Arial;
}

.preguntas {
  text-align: center;
  background-color: #EEE3CB;
}
.preguntas .pregunta {
  background-color: #EEE3CB;
  font-family: Helvetica;
  font-size: 50px;
  font-weight: bold;
}

.respuesta {
  font-family: Helvetica;
  font-size: 25px;
}

.costado {
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}
@media screen and (max-width: 450px) {
  .costado {
    display: none;
  }
}
@media screen and (min-width: 451px) and (max-width: 1148px) {
  .costado {
    display: none;
  }
}

.section-container {
  color: black;
  background-color: #EEE3CB;
}
.section-container .barberfeliz {
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  width: 800px;
  height: 250px;
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin: 0 auto;
}

.subtituloinfo {
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 40px;
  font-family: Helvetica;
  text-align: center;
  margin-left: 20px;
}

.info {
  color: black;
  font-size: 40px;
  margin-left: 45px;
  margin-right: 90px;
  margin-bottom: 0;
}

.equipo {
  background-color: #EEE3CB;
  text-align: center;
  margin: 0;
}
.equipo .estructura .fotos {
  width: 1000px;
  height: 750px;
}

.datos {
  margin: 0 auto;
  color: black;
  font-weight: bold;
  padding: 10px;
  font-size: 25px;
}

* {
  margin: 0;
  padding: 0;
}

.main-container {
  background-color: #EEE3CB;
}
.main-container .container .row .granlogo {
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  width: 650px;
  height: 500px;
}
@media screen and (max-width: 450px) {
  .main-container .container .row .granlogo {
    width: 500px;
    height: 400px;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .main-container .container .row .granlogo {
    width: 1000px;
    height: 500px;
  }
}

.arg {
  margin-bottom: 15px;
}
@media screen and (max-width: 450px) {
  .arg {
    height: 300px;
    width: 100%;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .arg {
    height: 300px;
    width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}

.texto-inicio {
  margin-top: 50px;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 100px;
}
@media screen and (max-width: 450px) {
  .texto-inicio {
    font-size: 10 px;
    text-align: center;
  }
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .texto-inicio {
    font-size: 25px;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
