@import 'components/header';
@import 'components/footer';
@import 'components/contactos';
@import 'components/faqs';
@import 'components/informacion';
@import 'components/nosotros';
@import 'base/estilosGenerales';

// index

.main-container{
    background-color:#EEE3CB ;

    .container{
        
        .row{
            .granlogo{
                filter: brightness(1.1);
                mix-blend-mode: multiply;
                width: 650px;
                height: 500px;
            }
          }
        }
    }
    

    .texto-inicio{
        margin-top: 50px;
        font-weight: bold;
        font-size: 25px;
            margin-bottom: 100px;}

// index


















