// contactos

.container{
    .row{
        .col-lg-6{
            .red{
                width: 400px;
                height:400px;
                margin-top: 20px;
                margin-bottom: 20px;
                
            }
        }
    }
}
.subtituloredes{
    margin-top: 20px;
}

// contactos