@import '../base/variables';

// header


.header-container{
    background-color: $bg-color-general ;
    display: flex;
    justify-content: space-around;
    font-size: 37px;
  .navbar{
    .container-fluid{
        .navbar-brand{
            .logo{
                filter: brightness(1.1);
                mix-blend-mode: multiply;
                width: 150px;
                height: 95px;
                }
            }
        }
    }
}



// header