@import '../base/variables';

//    nosotros

.equipo{
    background-color:$bg-color-cuerpo ;
    text-align: center;
    margin: 0;
    .estructura{
        .fotos{
            width: 1000px;
            height: 750px;
            
        }
    }
}
.datos{
    margin: 0 auto;
    color: $font-color;
    font-weight: bold;
    padding: 10px;
    font-size: 25px;
}

// nosotros